.navbar-dark {
  background: rgb(32, 32, 32);
}

body {
  background: black;
}

*{
  font-family: 'Nunito Sans', sans-serif;
}

.hover-effect {
  transition: 0.2s;
}

.hover-effect:hover {
  color: white;
  background: rgba(136, 136, 136, 0.082);
  border-radius: 0.2em;
  transition: 0.2s;
}

#holder {
  width: 80%;
  margin: 0 auto;
}

#imageshower {
  border-radius: 0.2em; margin-top: 0.6em;
}

.nav-link active{
  text-decoration: line-through;
}