.navbar-dark {
  background: rgb(32, 32, 32);
}

body {
  background: black;
}

*{
  font-family: 'Nunito Sans', sans-serif;
}

.hover-effect {
  transition: 0.2s;
}

.hover-effect:hover {
  color: white;
  background: rgba(136, 136, 136, 0.082);
  border-radius: 0.2em;
  transition: 0.2s;
}

#holder {
  width: 80%;
  margin: 0 auto;
}

#imageshower {
  border-radius: 0.2em; margin-top: 0.6em;
}

.dropdown>.dropdown-menu {
  transition: 0.3s all ease-in-out;
  background-color: rgb(31, 31, 31);
  border-radius: 0.4em;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  top: 85%;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.623) !important;
  transition: 0.1s;
  background-color: rgb(31, 31, 31) !important;
}

.dropdown-item:hover {
  color: white !important;
  background: rgba(136, 136, 136, 0.082) !important;
  border-radius: 0.2em;
  transition: 0.2s;
}

.dropdown-item {
  color: white;
  transition: 0.1s;
}

.dropdown>.dropdown:active {
    pointer-events: none;
}